*{
    /*outline:1px  solid rgba(255,0,51,.2);*/
    box-sizing:border-box;
}

html{
    background-color:#8b8a92;
    background-image:url('../bg.jpg');
    font:18px/30px "Noto Serif", "Georgia", "Liberation Serif", serif;
    padding-top:2rem;
    padding-bottom:50vh;
    overflow-y:scroll;

}
body{    
    max-width:46rem;
    margin:0 auto;
    color:#282a36;
}

a{
    color:#f03;
    text-decoration:none;
    box-shadow:0 -2px 0 0 #f03 inset;
}
a[href]:hover{
    background:#f03;
    outline:4px solid #f03;
    color:#fff8f5;
}
code[class]{
    font:14px/20px "Noto Mono", monospace;
    padding:1rem;
    margin:1rem -1rem;
}

footer{
    padding-top:1rem;
    text-align:center;
}
footer p{
    font-size:0.7rem;
    color:#aab;
    padding:0.25rem 0.75rem;
    background:rgba(0,0,0,0.15);
    display:inline;
}

div.container{    
    background-color:#fff8f5;
    padding:2rem 3.5rem;
}
nav{
    font-size:0;
    margin-bottom:1rem;
}
nav>*{
    font-size:1rem;
}
div.logo{
    width:50%;
    display:inline-block;
}
div.logo a{
    color:#fff8f5;
    font-size:1.2rem;
    padding:0.5rem 0.8rem;
    background:#282a36;
}
div.logo a:before{
    content:"";
    width:1rem;
    height:1rem;
    background:#f03;
    display:inline-block;
    vertical-align:-1px;
    margin-right:0.25rem;
    outline:2px solid #f03;
}
div.logo a:hover:before{
    outline:2px solid #282a36;
    outline-offset:2px;
}
div.social{
    width:50%;
    display:inline-block;
    text-align:right;
}
div.social a{
    display:inline-block;
    background:#fff8f5;
    padding:0.35rem 0.8rem;
}
div.social a+a{
    margin-left:0.25rem;
}

a.is-disabled{
    color:#aab;
    box-shadow:initial;
    text-decoration:line-through;
}

.level a{
    font-size:1rem;
    display:inline;
}
.level>a:nth-of-type(2){
    float:right;
}

article+article{
    padding-top:1rem;
    margin-top:2rem;
    border-top:1px solid #dde;
}

div.content img{
    max-width:100%;
    height:auto;
    margin:2rem auto 3rem auto;
    display:block;
}