*{
    /*outline:1px  solid rgba(255,0,51,.2);*/
    box-sizing:border-box;
}

html{
    background-color:#8b8a92;
    font:18px/30px "Noto Serif", "Georgia", "Liberation Serif", serif;
    padding:2rem;
}
body{    
    max-width:46rem;
    margin:0 auto;
    color:#282a36;
}

a{
    color:#f03;
    text-decoration:none;
}
code[class]{
    font:14px/20px "Noto Mono", monospace;
    padding:1rem;
}

footer{
    padding-top:1rem;
}
footer p{
    font-size:0.7rem;
    color:#abc;
    text-align:center;
}

div.container{    
    background-color:#fff;
    padding:2rem 3.5rem;
}
nav{
    font-size:0;
    margin-bottom:1rem;
}
nav>*{
    font-size:1rem;
}
div.logo{
    width:50%;
    display:inline-block;
}
div.logo a{
    color:#fff;
    font-size:1.2rem;
    padding:0.5rem 0.8rem;
    background:#282a36;
}
div.logo a:before{
    content:"";
    width:1rem;
    height:1rem;
    background:#f03;
    display:inline-block;
    vertical-align:-1px;
    margin-right:0.25rem;
    outline:2px solid #f03;
}
div.social{
    width:50%;
    display:inline-block;
    text-align:right;
}
div.social a{
    display:inline-block;
    background:#fff;
    padding:0.5rem 0.8rem;
}
div.social a+a{
    margin-left:0.25rem;
}
div.social i{
    font-style:normal;
}