*{
    /*outline:1px  solid rgba(255,0,51,.2);*/
    box-sizing:border-box;
}

html{
    background-color:#8b8a92;
    background-image:url('../bg.jpg');
    font:18px/30px "Noto Serif", "Georgia", "Liberation Serif", serif;
    padding-top:2rem;
    padding-bottom:50vh;
    overflow-y:scroll;

}
body{    
    max-width:46rem;
    margin:0 auto;
    color:#282a36;
}
nav a[href]{
    box-shadow:0 -2px 0 0 #f03 inset;
    color:#f03;
    text-decoration:none;
    transition:none;
}
nav a[href]:hover{
    box-shadow:0 -2px 0 0 #f03 inset;
    color:#fff8f5;
    background:#f03;
    text-decoration:none;
    transition:all 0.0s ease,background 0.6s ease, outline 0.6s ease;
    transition-delay:0.15s;
}
div.container a[href]{
    color:#f03;
    text-decoration:none;
    background:linear-gradient(#f03,#f03),linear-gradient(#f03,#f03),linear-gradient(#f03,#f03);
    text-shadow: .03em 0 #fff8f5,-.03em 0 #fff8f5,0 .03em #fff8f5,0 -.03em #fff8f5,.06em 0 #fff8f5,-.06em 0 #fff8f5,.09em 0 #fff8f5,-.09em 0 #fff8f5,.12em 0 #fff8f5,-.12em 0 #fff8f5,.15em 0 #fff8f5,-.15em 0 #fff;
    background-size: .05em 1px,.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0 95%,100% 95%,0 95%;
    outline:4px solid transparent;
    transition:none;
}
div.container a[href]:hover{
    background:#f03;
    outline:4px solid #f03;
    color:#fff8f5;
    text-shadow:none;
    transition:all 0.0s ease,background 0.6s ease, outline 0.6s ease;
    transition-delay:0.15s;
}
code[class]{
    font:14px/20px "Noto Mono", monospace;
    padding:1rem;
    margin:1rem -1rem;
}

footer{
    padding-top:1rem;
    text-align:center;
}
footer p{
    font-size:0.7rem;
    color:#aab;
    padding:0.25rem 0.75rem;
    background:rgba(0,0,0,0.15);
    display:inline;
}

div.container{    
    background-color:#fff8f5;
    padding:2rem 3.5rem;
}
nav{
    font-size:0;
    margin-bottom:1rem;
}
nav>*{
    font-size:1rem;
}
div.logo{
    width:50%;
    display:inline-block;
}
div.logo a{
    color:#fff8f5;
    font-size:1.2rem;
    padding:0.5rem 0.8rem;
    background:#282a36;
}
div.logo a:before{
    content:"";
    width:1rem;
    height:1rem;
    background:#f03;
    display:inline-block;
    vertical-align:-1px;
    margin-right:0.25rem;
    border:2px solid #f03;
    margin-bottom:-2px;

}
div.logo a:hover:before{
    outline:2px solid #282a36;
    outline-offset:0;
}
div.social{
    width:50%;
    display:inline-block;
    text-align:right;
}
div.social a{
    display:inline-block;
    background:#fff8f5;
    padding:0.35rem 0.8rem;
}
div.social a+a{
    margin-left:0.25rem;
}

a.is-disabled{
    color:#aab;
    box-shadow:initial;
    text-decoration:line-through;
}

.level a{
    font-size:1rem;
    display:inline;
}
.level>a:nth-of-type(2){
    float:right;
}

article+article{
    padding-top:1rem;
    margin-top:2rem;
    border-top:1px solid #dde;
}

div.content img{
    max-width:100%;
    height:auto;
    margin:2rem auto 4rem auto;
    display:block;
}

h2.subtitle{
    font-size:0.9rem;
    text-align:right;
    margin-bottom:0;
}
h2.subtitle+h1{
    margin-top:0.25rem
}

.hero{
    background-position:center;
    background-size:cover;
    padding:1rem 5rem;
    margin:-1rem -5rem 0 -5rem;
    color:#fff8f5;
    background-color:#282a36;
    height:16rem;
    position:relative;
    outline:4px solid #282a36;
}
.hero h2.light,
.hero h1.light{
    color:#fff8f5;
}
.hero h2.dark,
.hero h1.dark{
    color:#282a36;
}
.hero h2.subtitle+h1{
    position:absolute;
    bottom:0;
    margin-bottom:3rem;
}
.hero+.content{
    margin-top:2rem;
}

@media(max-width:512px){
    div.container{
        padding:1rem;
    }
    nav div.logo,
    nav div.social{
        display:block;
        text-align:center;
        width:100%;
    }
    nav div.logo+.social{
        margin-top:1.5rem;
    }
    footer p{
        display:block;
    }
    .hero{
        margin:-1rem -1rem 0 -1rem;
        padding:1rem;
        height:auto;
    }
    .hero h2.subtitle+h1{
        position:static;
        margin-bottom:2rem;
        margin-top:2rem;
    }
}
