<footer>
    <div>
        <div><p>{{ .Site.Copyright | safeHTML }}</p></div>
        {{ $lastTrack := getJSON .Site.Params.lastfm.url }}
        {{ range $lastTrack.recenttracks.track }}
            {{ if .name }}
                <a href="{{ .url }}" target="_blank">{{ .name }}</a>
            {{ end }}
        {{ end }}
    </div>
</footer>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}